{{ include('layout/head.twig') }}
<meta name="Keywords" content="{{ 'aboutTags'|trans }}">
</head>
<body>

{{ include('layout/head_menu.twig') }}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="content-grid mdl-grid">

            {% if card == false %}
            <div class="mdl-card card-witdth-900-centered mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
                <div  class="mdl-card__supporting-text">
                    {{ 'pageNotFound'|trans }}
                </div>
            </div>

            {% else %}
            <div itemscope itemtype="http://schema.org/Article"  class="mdl-card card-witdth-900-centered mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <img itemprop="image" class="about-image" src="{{ card["path_hirez"] }}" alt=""/>
                </div>
                <div itemprop="name" class="mdl-card__title">
                     {{ card ["name"] }}
                </div>
                <div itemprop="articleBody" class="mdl-card__supporting-text">
                     {{ card ["description"]|raw }}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</main>
{{ include('layout/footer.twig') }}
</body>
</html>

