{{ include('layout/head.twig') }}
{% if content[0] is defined %}
<meta property="og:url" content="{{ absolute_url('/') }}"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ 'siteName'|trans }}"/>
<meta property="og:description" content="{{ 'siteDesc'|trans }}"/>
<meta property="og:image" content="{{ absolute_url(content[0]["path_hirez"]) }}"/>
<meta property="og:image" content="{{ absolute_url(content[1]["path_hirez"]) }}"/>
<meta property="og:image" content="{{ absolute_url(content[2]["path_hirez"]) }}"/>
<meta property="og:image" content="{{ absolute_url(content[3]["path_hirez"]) }}"/>
<meta property="og:locale" content="ru_RU"/>
<meta property="og:locale:alternate" content="en_US"/>
<meta property="og:site_name" content="progorsky.com"/>
<meta name="twitter:card" content="gallery"/>
<meta name="twitter:site" content="progorsky.com"/>
<meta name="twitter:creator" content="@AKhramenkov">
<meta name="twitter:title" content="{{ 'siteName'|trans }}"/>
<meta name="twitter:description" content="{{ 'siteDesc'|trans }}">
<meta name="twitter:url" content="{{ absolute_url('/') }}"/>
<meta name="twitter:image0" content="{{ absolute_url(content[0]["path_hirez"]) }}">
<meta name="twitter:image1" content="{{ absolute_url(content[1]["path_hirez"]) }}">
<meta name="twitter:image2" content="{{ absolute_url(content[2]["path_hirez"]) }}">
<meta name="twitter:image3" content="{{ absolute_url(content[3]["path_hirez"]) }}">
{% endif %}
</head>
<body xmlns="http://www.w3.org/1999/html">

{{ include('layout/head_menu.twig') }}

{# Style needs to work link in mobiles #}
<style>
    .fotorama__html div,
    .fotorama__html a {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 70%;
        /* Transparent links are not clickable in IE,
           but non-existent background fixes this.
          (Put an empty 1×1 image here to avoid
           errors in console.) */
    }
</style>

<main class="mdl-layout__content">
    <div class="page-content">
        <div itemscope itemtype="http://schema.org/ItemList" class="mdl-grid">
            <div class="mdl-card card-witdth-900-centered mdl-cell  mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
                <div class="mdl-card__media mdl-color--white fotorama"
                     data-nav="thumbs" data-fit="cover" data-loop="true" data-autoplay="10000"
                     data-keyboard="true" data-swipe="true" data-click="true" data-arrows="always"
                     data-width="100%" data-height="80%">

                    {% for photo in content %}
                        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Photograph"
                        data-img="{{ absolute_url(photo["path_hirez"]) }}"
                        data-thumb="{{ absolute_url(photo["path_image"]) }}"
                        data-caption="{{  photo["name"] }}">
                            <meta itemprop="name description" content="{{  photo ["name"] }}" />
                            <meta itemprop="image" content="{{ absolute_url(photo["path_image"]) }}" />
                            <a itemprop="url" href="{{ absolute_url(path('photo', {name: photo["name_search"]})) }}"></a>
                            {% if photo["latitude"] is defined and photo["longitude"] is defined%}
                            <div itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
                                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                     <meta itemprop="latitude" content="{{ photo["latitude"] }}" />
                                     <meta itemprop="longitude" content="{{ photo["longitude"] }}" />
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{{ include('layout/footer.twig') }}

</body>

<!-- fotorama.css  -->
<link href="/styles/fotorama.css" rel="stylesheet">

<!-- 1. Link to jQuery (1.8 or later), -->
<script src="/js/jquery.min.js"></script>
<!-- fotorama.js. -->
<script src="/js/fotorama.js"></script>

<!-- fotorama size chnger-->
<script>
    $(document).ready(function(){
        if(window.innerWidth < 1025) {
            $('.fotorama').fotorama({
                height: '97%'
            });
        }
    });
    $(window).resize(function(){
        if(window.innerWidth < 1025) {
            $('.fotorama').fotorama({
                height: '97%'
            });
        } else {
            $('.fotorama').fotorama({
                height: '80%'
            });
        }
    })
</script>
</html>