{{ include('layout/head.twig') }}
</head>
<body>

{{ include('layout/head_menu.twig') }}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="content-grid mdl-grid">
            <div class="mdl-card card-witdth-900-centered mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
                <div class="mdl-card__title">
                    {{ 'listOfTags'|trans }}
                </div>
                <div itemscope itemtype="http://schema.org/ItemList" class="mdl-card__supporting-text">

                    {% if tags %}
                        {% for tag in tags %}
                            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact {{ app['accentColour'] }} mdl-color-text--white">{{ tag['count'] }}</span>
                                <a itemprop="url" href="{{ path('listbytag', {tagName: tag['tag']}) }}">
                                    <span itemprop="name" class="mdl-chip__text {{ app['accentTextColour'] }}"> {{ tag['tag'] }}</span>
                                </a>
                            </span>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</main>

{{ include('layout/footer.twig') }}

</body>
</html>
