<footer class=" mdl-mini-footer mdl-layout--large-screen-only {{ app['mainColour'] }}">
    <div class="mdl-mini-footer__left-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="{{ path('index') }}">
                    <button class="mdl-button mdl-js-button mdl-color-text--grey">
                        {{ 'mainPage'|trans }}
                    </button>
                </a>
            </li>
            <li>
                <a href="{{ path('about') }}">
                    <button class="mdl-button mdl-js-button mdl-color-text--grey">
                        {{ 'about'|trans }}
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">

            <li>
                <a href="https://github.com/AlexKhram/prokudin"><img alt="" src="/images/github.png"></a>
            </li>

        </ul>

    </div>
</footer>


<!-- Google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84602155-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- MDL snackbar message-->
<div class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>
{% if message is defined and message is not empty%}
    <script>
        var notification = document.querySelector('.mdl-js-snackbar');

        r(function () {
            notification.MaterialSnackbar.showSnackbar({
                message: {% if message['success'] is defined %}
                        '{{ message['success']|trans }}',
                {% elseif message['error'] is defined %}
                '{% for error in message['error'] %}
                {{ error|trans }}{% if not loop.last %}, {% endif %}{% if loop.last %}',{% endif %}
                        {% endfor %}
                        {% endif %}
                actionHandler: function () {
                notification.style.opacity = 0;
            },
            actionText: 'X',
                    timeout: 25000
        });
        });
        function r(f) {
            /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f()
        }
    </script>
{% endif %}
