<footer class=" mdl-mini-footer mdl-layout--large-screen-only {{ app['mainColour']  }}">
    <div class="mdl-mini-footer__left-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="{{ path('index') }}">{{ 'mainPage'|trans }}</a></li>
            <li><a href="{{ path('about') }}">{{ 'about'|trans }}</a></li>
        </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="/"><img alt="" src="/images/vk-circle.png"></a>
            </li>
            <li>
                <a href="/"><img alt="" src="/images/github-circle.png"></a>
            </li>
            <li>
                <a href="/"><img alt="" src="/images/twitter-circle.png"></a>
            </li>
        </ul>

    </div>
</footer>

