<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall {{ app['mainColour']  }}">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ 'siteName'|trans }}</span>
            <div class="mdl-layout-spacer"></div>
                <a href="{{ global.request.getPathInfo() }}?lang=ru">
                    <button class="mdl-button mdl-js-button {% if app['locale'] == 'ru' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                        RU
                    </button>
                </a>
                <a href="{{ global.request.getPathInfo() }}?lang=en">
                    <button class="mdl-button mdl-js-button {% if app['locale'] == 'en' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                        EN
                    </button>
                </a>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ path('index') }}">{{ 'mainPage'|trans }}</a>
                <a class="mdl-navigation__link" href="{{ path('map') }}">{{ 'mapPhoto'|trans }}</a>
                <a class="mdl-navigation__link" href="{{ path('tags') }}">{{ 'tags'|trans }}</a>
                <a class="mdl-navigation__link" href="{{ path('listphotos') }}">{{ 'listPhoto'|trans }}</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <div class="center">
            <a href="{{ global.request.getPathInfo() }}?lang=ru">
                <button class="mdl-button mdl-js-button {% if app['locale'] == 'ru' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                    RU
                </button>
            </a>

            <a href="{{ global.request.getPathInfo() }}?lang=en">
                <button class="mdl-button mdl-js-button {% if app['locale'] == 'en' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                    EN
                </button>
            </a>
        </div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ path('index') }}">{{ 'mainPage'|trans }}</a>
            <a class="mdl-navigation__link" href="{{ path('map') }}">{{ 'mapPhoto'|trans }}</a>
            <a class="mdl-navigation__link" href="{{ path('tags') }}">{{ 'tags'|trans }}</a>
            <a class="mdl-navigation__link" href="{{ path('listphotos') }}">{{ 'listPhoto'|trans }}</a>
        </nav>
        <span class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ path('about') }} ">{{ 'about'|trans }}</a>
            </span>
    </div>
