<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall {{ app['mainColour']  }}">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ 'siteDesc'|trans }}</span>
            <div class="mdl-layout-spacer"></div>
                <a hreflang="ru" href="{{ global.request.getPathInfo() }}?lang=ru">
                    <button class="mdl-button mdl-js-button {% if app['locale'] == 'ru' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                        RU
                    </button>
                </a>
                <a hreflang="en" href="{{ global.request.getPathInfo() }}?lang=en">
                    <button class="mdl-button mdl-js-button {% if app['locale'] == 'en' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                        EN
                    </button>
                </a>
        </div>
        {#<!-- Bottom row, not visible on scroll -->#}
        {#<div class="mdl-layout__header-row">#}
            {#<span class="mdl-color-text--grey"><h5>{{ 'siteDesc'|trans }}</h5></span>#}
            {#<div class="mdl-layout-spacer"></div>#}
            {#<!-- Navigation -->#}
            {#<nav class="mdl-navigation">#}
                {#<a class="mdl-navigation__link" href="{{ path('index') }}">#}
                    {#<button class="mdl-button mdl-js-button mdl-color-text--grey">#}
                        {#{{ 'mainPage'|trans }}#}
                    {#</button>#}
                {#</a>#}
                {#<a class="mdl-navigation__link" href="{{ path('map') }}">#}
                    {#<button class="mdl-button mdl-js-button mdl-color-text--grey">#}
                        {#{{ 'mapPhoto'|trans }}#}
                    {#</button>#}
                {#</a>#}
                {#<a class="mdl-navigation__link" href="{{ path('tags') }}">#}
                    {#<button class="mdl-button mdl-js-button mdl-color-text--grey">#}
                        {#{{ 'tags'|trans }}#}
                    {#</button>#}
                {#</a>#}
                {#<a class="mdl-navigation__link" href="{{ path('listphotos') }}">#}
                    {#<button class="mdl-button mdl-js-button mdl-color-text--grey">#}
                        {#{{ 'listPhoto'|trans }}#}
                    {#</button>#}
                {#</a>#}
            {#</nav>#}
        {#</div>#}
    </header>
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="mdl-layout__drawer">
        <div class="center">
            <a hreflang="ru" href="{{ global.request.getPathInfo() }}?lang=ru">
                <button class="mdl-button mdl-js-button {% if app['locale'] == 'ru' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                    RU
                </button>
            </a>
            <a hreflang="en" href="{{ global.request.getPathInfo() }}?lang=en">
                <button class="mdl-button mdl-js-button {% if app['locale'] == 'en' %} mdl-color-text--grey-600
                        {% else %}mdl-color-text--grey {% endif %}">
                    EN
                </button>
            </a>
        </div>
        <nav class="mdl-navigation">
            <a itemprop="url" class="mdl-navigation__link" href="{{ path('index') }}"><h5>{{ 'mainPage'|trans }}</h5></a>
            <a itemprop="url" class="mdl-navigation__link" href="{{ path('map') }}"><h5>{{ 'mapPhoto'|trans }}</h5></a>
            <a itemprop="url" class="mdl-navigation__link" href="{{ path('tags') }}"><h5>{{ 'tags'|trans }}</h5></a>
            <a itemprop="url" class="mdl-navigation__link" href="{{ path('listphotos') }}"><h5>{{ 'listPhoto'|trans }}</h5></a>
        </nav>
        <span class="mdl-navigation">
            <a itemprop="url" class="mdl-navigation__link" href="{{ path('about') }} "><h5>{{ 'about'|trans }}</h5></a>
            </span>
    </div>
